#testimonial {
    padding: 6rem 0;
    .header {
        padding-bottom: 1em;
    }
    .testimonial {
        background: white;
        padding: 1em;
        margin: 1.5em 1em 1.5em 1em;
        border-radius: 1em;
        height: 100%;
        color: #212529;
    }
}

h1.corporate-title {
    line-height: 1.6em;
}