// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'lunaregular';
  src: url('/fonts/luna-webfont.woff2') format('woff2'),
       url('/fonts/luna-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Typography
.text-white-75 {
  color: fade-out($white, .25);
}

// Custom horizontal rules
hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

// Button restyling
.btn {
  font-family: $font-family-sans-serif;
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

// Page section padding
.page-section {
  padding: 4rem 0;
  @include media-breakpoint-up(lg) {
    padding: 8rem 0;
  }
}

h1, h2, h3, h4 {
  font-family: 'lunaregular';
  color: white;
  line-height: 1.8em;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.red {
  color: #DB3932
}