#testimonial {
    padding: 6rem 0;
    .header {
        padding-bottom: 1em;
    }
    .testimonial {
        background: black;
        padding: 1em;
        margin: 1.5em 1em 1.5em 1em;
        border-radius: 1em;
        height: 100%;
    }
}